{{ '<|im_start|>system\n' + system.strip() + '<|im_end|>\n' }}

{% for message in messages %}
{{ '<|im_start|>' + message['role'] + '\n' + message['content'].strip() + '<|im_end|>' }}
{% endfor %}
{{ '<|im_start|>assistant\n' }}